<script>
export default {
  name: '{{pascalCase name}}',
  components: {},
  data: () => ({}),
  computed: {},
  methods: {},
  mounted: {},
}
</script>

<template>
  <div class="{{dashCase name}}"></div>
</template>

<style lang="scss">
.{{dashCase name}} {
}
</style>
